.DS_Store
00Contents
!documentation/fire-v.bit
*.dtx
*.ins
*.upl
*.sty
*.bak
*-bak
*gerber*
_autosave-*
panel
*.vcd
obj_dir
fp-info-cache
*-rescue.dcm
*-rescue.lib
*bom*.txt
*.kicad_prl

*.bit
*.config
*.json
obj_dir
*.vcd

*.lck

*.zip
!hardware/*/production/*.zip

private

*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz

hardware/v2.0/\#auto_saved_files\#
